img{
    width: 40%;
    height: 100%;
    position: relative;
    right: -60%;
    top:5%;

}
.in{
    padding-top: 17%;
}
#in1{
    margin-bottom: 5%;
    padding-bottom: 1%;
    border: none;
    border-bottom: 2px solid #85929E;
    font-size: 19px;
}

#in2{
    margin-bottom: 5%;
    padding-bottom: 1%;
    border: none;
    border-bottom: 2px solid #85929E;
    font-size: 19px;

}
#in3{
    margin-bottom: 5%;
    padding-bottom: 1%;
    border: none;
    border-bottom: 2px solid #85929E;
    font-size: 19px;

}
#in4{
    margin-bottom: 7%;
    padding-bottom: 1%;
    border: none;
    border-bottom: 2px solid #85929E;
    font-size: 19px;

}

p{
    font-weight: bold;
    font-size: 150%;
    color: #2E86C1;
}

#btn2{
    width: 135px;
    height: 50px;
    font-weight: bold;
    font-size: 20px;
}
#btn1{
    width: 135px;
    height: 50px;
    font-weight: bold;
    font-size: 20px;
}

#bouton{
    padding-top: 5%;
}