
<article>
    <section  id="sec1" >
        <div>
            <div class="maj">
                <h2 class="fs-2 fw-bold">Vendre en un clique</h2>
                <p class="para-first">Chez <span class="sen">sender</span>  plutôt qu'on vous propose des produits <br/>
                    à vendre comme tous les sites d' <span class="e-co">E-commerce</span> se sera <br/>
                     vous qui aller vendre vos produits, tout neuf ou déjà utilié <br/>vous pourrez 
                    tout vendre, quelque soit l'état du produit.
                </p>
            </div>    
        </div>
    </section>

    <section id="sec2">
        <div class="maj2">
            <h3 class="title2">Acheter en un clique</h3>
            <p class="para-two">
            Dans la plateforme vous pouvez acheter les produits <br/>
             des autres utilisateurs.
            Lors de l'achat il sera indiqué <br/>
            si le produit dont vous êtes sur le point d'acheter
            à <br/>déjà été utilisé ou s'il est tout neuf.
            </p>
        </div>
        
    </section>

    <section id="sec3">
        <div class="maj3">
            <h4 class="title3">Livraison rapide</h4>
            <p class="para-third">
            Lorsque votre produit aura été acheter dans la plateforme <br/>
            un livreur passera
             prendre votre produits pour ensuite<br/> 
             le remettre à l'acheteur et tout ça en <span class="e-co">1 heure</span> . 
            </p>
        </div> 
    </section>

    <section id="sec4">
        <div class="maj4">
            <h5 class="title4">Payer et recever votre argent <br/>
                en un clique et en toute sécurité</h5>
            <p class="para">A l'aide d'une carte de crédit payer en un clique<br/>
                 et recever rapidement votre argent rapidement<br/>
                 sans avoir besoin de tout faire physiquement. </p>
        </div>

    </section>
</article>