.title1{
    font-size: 45px;
    font-weight: bold;
    color:#17202A;
    margin-left:25px;
    position:relative;
    padding-bottom: 70px;
    top:80px;
    font-family: "Avantgarde", TeX Gyre Adventor,
    URW Gothic L, sans-serif;
}
.maj{
    background-image: url("../../assets/images/vendreVrai1.jpg");
    padding-bottom: 350px;
    background-repeat: no-repeat;
    background-position: right top;
}
.maj2{
    background-image: url("../../assets/images/achatVrai5.jpg");
    padding-bottom: 350px;
    background-repeat: no-repeat;
    background-position: right top;
}
.para-first{
    font-size:25px;
    color: #1C2833;
    margin-left:25px;
    line-height: 40px;
    padding-bottom: 190px;
    font-family: "Avantgarde", TeX Gyre Adventor,
    URW Gothic L, sans-serif;
}
.title2{
    font-size: 45px;
    font-weight: bold;
    color:#17202A;
    padding-bottom: 60px;
    margin-left: 100px;
    position: relative;
    top:80px;
    font-family: "Avantgarde", TeX Gyre Adventor,
    URW Gothic L, sans-serif;
}
.para-two{
    font-size:25px;
    color: #1C2833;
    margin-left:100px;
    line-height: 40px;
    font-family: "Avantgarde", TeX Gyre Adventor,
    URW Gothic L, sans-serif;
}
.maj3{
    background-image: url("../../assets/images/recevoirVrai7.jpg");
    padding-bottom: 350px;
    background-repeat: no-repeat;
    background-position: left top;
}
.title3{
    font-size: 45px;
    font-weight: bold;
    color:#17202A;
    position:relative;
    padding-left: 685px;
    padding-bottom: 100px;
    top: 100px;
    font-family: "Avantgarde", TeX Gyre Adventor,
    URW Gothic L, sans-serif;
}
.para-third{
    font-size:25px;
    color: #1C2833;
    line-height: 40px;
    position:relative;
    padding-left: 690px;
    padding-bottom: 50px;
    font-family: "Avantgarde", TeX Gyre Adventor,
    URW Gothic L, sans-serif;

}