<header id="headshot">
    <h1 class="fw-bolder">
        <span class="spe">S</span>ender
    </h1>
    <div class="slog"><span class="sap1">Ven</span> <span class="sap1">dez </span> <span class="sap1"> et </span> 
        <span class="sap1"> ache</span> <span class="sap1">tez </span> <span class="sap1"> en </span> <span class="sap1"> un </span> 
        <span class="sap1"> cli</span><span class="sap1">que</span>
    </div>
    <a  href="#connection" class="imge">  <img [src]="connect" alt="coonexion">
    </a>
</header>