.fw-bolder{
    font-weight: bolder;
    font-size:150px;
    text-align: center;
    position:relative;
    top: 90px;
    font-family: "Avantgarde", TeX Gyre Adventor,
     URW Gothic L, sans-serif;
     padding-bottom: 80px;
     padding-top: 50px;

}
.slog{
    text-align: center;
    position: relative;
    top: -10px;
    font-size: 32px;
    font-weight:bold;
    color:#17202A;
    font-family: "Avantgarde", TeX Gyre Adventor,
    URW Gothic L, sans-serif;
}
.sap1:hover{
    color: #E74C3C; 

}
.imge{
    position:relative;
    top: -350px;
    right: -1250px
}
.spe{
    color: #E74C3C; 
}