h1{
    text-align: center;
    font-weight:bolder;
    margin-bottom: 100px;
    font-size:35px
}
.Entré{
    text-align: center;
    
}
.slog{
    text-align: center;
    margin-bottom: 40px;
    font-size: 23px;

}
#inpu{
    border: none;
    border-bottom: 1px solid;
    justify-content: space-around;
    margin-bottom: 50px;
    font-size: 17px;
    

}
#inpu1{
    border: none;
    border-bottom: 1px solid;
    justify-content: space-around;
    margin-bottom: 50px;
    font-size: 17px;
    position: relative;
    left:10px
}
.bouton{
    text-align:center;
}
.bout{
    justify-content: space-around;
    font-size: 20px;

}
.resu{
    text-align:center;
    padding-top: 50px;
    font-size: 30px;
}