<header>
  <h1 class="titre1">MAthCalculator</h1>
  <div class="slog">Veillez écrire les données </div>
  <div class="Entré">
    <input id="inpu" type="number" [(ngModel)]="num1">
    <input id="inpu1" type="number" [(ngModel)]="num2">
  </div>
  <div class="bouton">
    <button class="bout" (click)="resultatAdd()">Addition</button>
    <button class="bout1" (click)="resultatSous()">Soustraction</button>
    <button class="bout2" (click)="resultatMulti()">Multiplication</button>
    <button  class="bout3"(click)="resultatDiv()">Division</button> <br/>
    <button class="re" (click)="rebout()">reboot</button>

  </div>

  <div class="resu">Résultat:{{reponGlobal}}</div>
</header>