#img1{
    width: 40%;
    height: 83%;
    position: relative;
    right: -60%;
    top:-10%;
}

#fonc{
    font-weight: bold;
    font-size: 150%;
    color: #2E86C1;
}
select{
    border: none;
}

