
<footer id="connecter">
    <div class="connect">
        <div class="slog1">Le commerce en toute simplicité</div>
        <h6 class="con">rejoingner nous</h6>
        <div class="contact">contacter nous via <a href="" class="mail"> Sender@gmail.com</a></div>
        <input type="email" class="form-control" placeholder="Adresse mail">
        <button class="btn2"> <span id="ins" > connecter </span> </button>
        <button class="btn1"> <span id="ins">  s'inscrire  </span> </button>
    </div>
    <div>
    </div>
    <div class='fini'>
        <div class="ec1">Sender</div>
        <div class="ec2">Sender 2021</div>
    </div>
</footer>