#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

#inpu1{
  border:none;
  border-bottom: 1px solid ;
  text-align: center;
  margin-bottom:50px;
  font-size: 20px;
  font-weight: bold;

}
#inpu2{
  border:none;
  border-bottom: 1px solid ;
  text-align: center;
  margin-bottom:50px;
  font-size: 20px;
  font-weight: bold;

}
#title{
  font-size: 20px;
}
#text{
  font-size: 22px;
  margin-top: 30px;
  margin-bottom: 50px;
  font-weight:bolder;

}
#result{
  font-weight:bolder;
  font-size: 30px;
  margin-bottom:145px
}
#btn1{
  font-size:25px;

}
#btn2{
  font-size:25px;
  margin-left: 100px;

}
#btn3{
  font-size:25px;
  margin-right: 100px;

}
#btn4{
  font-size:25px;

}